.btn__mood {
  width:50vw;
  font-size:20px;
  background-color: #FF5733;
  margin-bottom:20px;
}

.icon__container {
  display:flex;
  width:50vw;
  }

.face__container {
  display:inline;
  list-style: none;
  font-size: 40px;
  margin-right:20px;
}

.smile {
  color: #FAE408;
}

.sad {
  color: #F74A25;
}